# <span style = "color : red"> <h2 style="text-align: center;"> Data Preparation and Experiments</h2> </span>
 <h3 style="text-align: center;"> Let's GO </h3>

In [19]:
# %pip install pathlib

In [20]:
import numpy as np
import pandas as pd
from pathlib import Path
import requests

In [21]:
data=[
    [2018,10,15,20],
    [2019,12,15,22],
    [2020,14,32,25],
    [2021,16,37,28],
    [2022,19,15,30]

]
simple_data=pd.DataFrame(data,columns=['year','col1','col2','col3'])

In [22]:
simple_data

   year  col1  col2  col3
0  2018    10    15    20
1  2019    12    15    22
2  2020    14    32    25
3  2021    16    37    28
4  2022    19    15    30

In [23]:
data_dir=Path("data")

if data_dir.is_dir():
    print("path exist , skipping making.... ")

else:
    data_dir.mkdir(parents=True,
                   exist_ok=True)
    print("directory is made")

path exist , skipping making....

In [24]:
if Path(data_dir/'sample.csv').exists():
    print("file exist, skip creating.....")
else:
    simple_data.to_csv(data_dir/'sample.csv',index=False)

file exist, skip creating.....

In [25]:
sample_map=pd.DataFrame(
   { 'Location': ['Dhaka', 'Chittagong', 'Cox\'s Bazar', 'Sylhet', 'Sundarbans'],
    'Latitude': [23.8103, 22.3569, 21.4272, 24.8949, 21.9497],
    'Longitude': [90.4125, 91.7832, 92.0058, 91.8687, 89.1833]}
)

In [26]:
if Path(data_dir/'sample.csv').is_file():
    print("file exist, skip creating.....")
else:
    sample_map.to_csv(data_dir/'sample_map.csv',index=False)

file exist, skip creating.....

In [27]:
url="https://raw.githubusercontent.com/marcopeix/MachineLearningModelDeploymentwithStreamlit/master/12_dashboard_capstone/data/quarterly_canada_population.csv"

In [28]:
# creating file 

if (Path(data_dir/'c_people.csv')).exists():
    print("File exist already .......")
else:
    with open(data_dir/'c_people.csv',"wb") as f:
        request=requests.get("https://raw.githubusercontent.com/marcopeix/MachineLearningModelDeploymentwithStreamlit/master/12_dashboard_capstone/data/quarterly_canada_population.csv")
        f.write(request.content)
        print(f"File created ........ ")

File exist already .......

##  Transforming data for capstone project

In [29]:

df=pd.read_csv("../NOTEBOOK/data/c_people.csv")
df.sample(5)

,Quarter,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut
54,Q1 2005,32076720,516794,137689,939215,749002,7559625,12446466,1176051,995900,3276797,4174018,31771,43442,29950
45,Q4 2002,31451764,519458,137078,935968,749408,7455892,12146053,1157298,996279,3144926,4108400,30266,41874,28864
15,Q2 1995,29211541,569068,134175,927641,750692,7210305,10906895,1127234,1012795,2724946,3751377,30143,41407,24863
100,Q3 2016,36109487,529426,146969,942790,763350,8225950,13875394,1314139,1135987,4196061,4859250,38547,44649,36975
83,Q2 2012,34592779,525655,144472,943746,757270,8039492,13348263,1245692,1077892,3847722,4548438,35843,43701,34593

In [30]:
col_data=df['Quarter'][:]
# col_data=list(col_data)

year=list()
quarter=set()

for d in col_data:
    year.append(d[3:])
    quarter.add(d[:2])

quarter=list(quarter)

quarter,year[:4]

(['Q3', 'Q2', 'Q4', 'Q1'], ['1991', '1991', '1992', '1992'])

In [31]:
place=df.columns
place=place[1:]
place

Index(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories', 'Nunavut'],
      dtype='object')

In [36]:
start_date='Q1 2012'
target="Quebec"

In [38]:
df.loc[df['Quarter']==start_date,target].item()

8029498